.wrapper {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;

    .body {
        width: 1170px;
        max-width: calc(100% - 48px);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
}

.heading {
    font-family: 'Sen';

    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;

    letter-spacing: -0.02em;

    color: #171100;
    margin-bottom: 16px;
}

.desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    width: 458px;
    margin-bottom: 55px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back,
.next {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;

    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.next {
    background-color: #ffb900;
    margin-left: 12px;
}

.list {
    overflow: hidden;
}
