.all-items {
    margin: 10% 5% 0 0;
}
.popular-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}
// one item
.wrapper {
    flex: 1;
    min-width: 270px;
    max-width: 270px;

    background-color: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    flex-shrink: 0;
    &:hover {
        border-color: transparent;
        box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.1);
    }
}

.thumb {
    width: calc(100% + 2px);
    margin: -1px;
    border-radius: 12px 12px 0px 0px;

    object-fit: cover;
    height: 30vh;
}

.info {
    padding: 16px 22px 22px;
}

.head {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.67;

    color: #171100;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.rating {
    display: flex;
    gap: 6px;
    align-items: center;
}

.value {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.75;

    color: #fea31b;
}
.desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.86;

    color: #5f5b53;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.foot {
    margin-top: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.67;
    color: #171100;
}
