.wrapper {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
}

.container-register {
    min-height: 500px;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.img-block,
.register-block {
    width: 50%;
}

.img-block {
    position: relative;
}

.img-block .image {
    display: block;
    margin-left: auto;
    margin-top: auto;

    width: 400px;
    height: 580px;
    object-fit: cover;
    border-radius: 12px;
}

.register-block {
    padding-left: 165px;
    padding-top: 20px;
}

.register-block .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    position: relative;
}

.register-block .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: '';
    display: block;
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
}

.trend {
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0 0 12px 12px;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #fff;
}

.trend .row {
    display: flex;
}

.trend .row .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01rem;
    color: #000339;
}

.trend .row .icon {
    margin-left: auto;
}

.trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.trend .separate {
    height: 1px;
    background-color: #e9e9e9;
    margin-top: 25px;
}

.trend .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}

.trend .avatar-block .avatar-group {
    display: flex;
}

.trend .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;

    background-color: var(--bg-color, #fff);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 450;
    font-size: 0.7rem;
}

.trend .avatar-1 {
    --bg-color: #1f3bb1;
}

.trend .avatar-2 {
    --bg-color: #24d8d9;
}

.trend .avatar-3 {
    --bg-color: #f8c120;
}

.trend .avatar-4 {
    --bg-color: #f97f6b;
}

.trend .avatar-5 {
    --bg-color: #1f1f1f;
}

.register-form {
    margin-top: 20px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.register-form h3 {
    font-size: 2.3rem;
    font-weight: 500;
    color: #333;
}

.register-form form {
    margin-top: 20px;
}

.form-group {
    margin-top: 16px;
}

.form-label,
.form-input {
    display: block;
}

.form-label {
    font-weight: 500;
}

.form-input {
    width: 240px;
    height: 34px;
    margin-top: 8px;
    padding: 4px 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.form-group .btn {
    margin-top: 20px;
    padding: 10px 28px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.form-group .btn:hover {
    opacity: 0.9;
}

.form-block span {
    font-size: 1.4rem;
}

.register-block .log-in {
    margin-top: -6px;
    margin-left: -22px;
    text-decoration: underline;
}

.form-group .avatar-preview {
    margin-top: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.radio::before,
.radio::after {
    content: '';
    display: inline-block;
}

.radio {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 4px;
}

.radio::before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 4px;
}
.radio:has(:checked)::before {
    border-color: var(--primary-color);
}

.radio:has(:checked)::after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 6.2px;
    left: 3.6px;
}

.radio [type='radio'] {
    display: none;
}

.form-group .instructions {
    font-size: 1rem;
    color: red;
    padding: 0.25rem;
    margin-top: 5px;
}

.instructions > svg {
    margin-right: 0.5rem;
}

.offscreen {
    display: none;
}

.success-login {
    color: #1f3bb1;
    text-decoration: underline;
    font-size: 2rem;
}
