.wrapper {
    overflow: hidden;
    margin-top: 100px;
}

.container-carousel {
    width: 1215px;
    overflow: hidden;
    z-index: 9;
}

.item-class {
    max-width: 280px;
    margin-right: 24px;
}
