.filter-container button {
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    background: white;
    color: rgb(65, 96, 168);
    border-radius: 1rem;
    border: 2px solid rgb(65, 96, 168);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 7px;
}

button.active {
    background: rgb(65, 96, 168);
    color: white;
}

.filter-container {
    display: grid;
    margin-top: 0.6rem;

    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
}
