.wrapper {
    width: 100%;
    padding-top: 200px;
    display: flex;
}

.body {
    width: 1170px;
    height: 100%;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 470px;
    margin-right: 130px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.heading {
    margin-bottom: 16px;
    font-family: 'Sen';

    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;

    letter-spacing: -0.02em;

    color: #171100;
}

.btn-view-all {
    margin-left: -16px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;

    text-decoration-line: underline;

    color: #10375c;
    margin-bottom: 28px;
}
.actions-btn {
    display: flex;

    gap: 8px;
}
