.wrapper {
    width: 100%;
    margin-top: 100px;
}

.body {
    height: 100%;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    padding: 100px 179px 115px 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6f0ff;
}

.heading {
    position: relative;
    font-family: 'Sen', sans-serif;

    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;

    text-align: center;
    letter-spacing: -0.02em;

    color: #10375c;
}
.heading::after {
    position: absolute;
    content: '';
    width: 136px;
    height: 2px;
    background-color: #2e80ce;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
}

.desc {
    margin-top: 38px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 65%;

    text-align: center;

    color: #575f66;
}

.btn-shop {
    font-family: 'Sen', sans-serif;
    background-color: #2e80ce;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;

    text-align: center;

    color: #ffffff;
}
