.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;

    background-color: #fff;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// logo

.logo-link {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.title-logo {
    color: var(--primary-color);
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.8rem;
}

//actions

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    display: flex;
    color: var(--header-color);
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -6px;
    right: 5px;

    line-height: 2rem;

    font-size: 1.6rem;
    font-weight: 600;
    color: var(--header-color);
}

.btn-login {
    margin-right: -20px;
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 24px;
    background: transparent;
    color: var(--text-color);
    padding: 4px 8px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.list-btn {
    display: flex;
    padding-right: 8px;

    .btn-item {
        position: relative;
        color: #333;
        font-weight: 600;
        min-width: 70px;
        padding: 8px 8px;
        font-size: 1.6rem;
        line-height: 28px;
    }
}

.btn-item:hover {
    color: #171100;
    font-weight: 600;
    text-shadow: 1px 0 0 currentcolor;
}

.btn-item:hover ::after {
    position: absolute;
    left: 14px;
    bottom: 6px;
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

//Rezponsive
@media (min-width: 1001px) {
    .actions {
        display: flex;
    }

    .mobile {
        display: none;
    }
}

@media (max-width: 1000px) {
    .actions {
        display: none;
    }
    .mobile {
        display: block;
        margin-right: 20px;
        font-size: 24px;
    }
    .logo-link {
        margin-left: 20px;
    }

    .wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 618px) {
    .search-bar {
        display: none;
    }
    .logo-link {
        .logo {
            font-size: 24px;
        }

        .title-logo {
            font-size: 1.3rem;
        }
    }
}
