.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 7px 10px 5px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.name {
    font-size: 1.7rem;
    font-weight: 400;
}

.quantity {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--header-color);
    margin-right: 3px;
}

.desc {
    font-size: 1.2rem;
}
