.wrapper {
    width: 100%;
    background: #f5fafe;
    padding-bottom: 70px;
    padding-top: 130px;
}

.body {
    height: 100%;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.content {
    text-align: center;
}
.heading {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
}

.desc {
    width: 79%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
    margin: 16px auto;
    font-family: 'Poppins', sans-serif;
}
