// sizing of map container
.cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.keep-commerce-human {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keep-commerce-human img {
    width: 50%;

    object-fit: cover;
}

.keep-commerce-human div {
    width: 50%;
}

.keep-commerce-human h2 {
    font-size: 5.5rem;
    margin-bottom: 0.5em;
    line-height: 1.3;
    color: #222;
    font-weight: 400;
}

.keep-commerce-human p {
    font-size: 1.8rem;
    padding-bottom: 16px;
}

.team {
    background-color: #d7e6f5;
    // padding: 70px 0;
}

.team .staff {
    padding: 70px 0;
}

.staff > p,
.staff > h2 {
    text-align: center;
}

.staff > p {
    color: #5e6085;
    margin-bottom: 15px;
}

.staff > h2 {
    font-size: 5.5rem;

    line-height: 1;
    color: #222;
    font-weight: 400;
}

.staff-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;
    margin-top: 45px;
    margin-bottom: 60px;
}
.staff-item {
    text-align: center;
}

.staff-item figure {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item figure::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 94%;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: inherit;
    bottom: 0;
    left: 0;
}

.staff-item figure::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.staff-item:nth-child(1) figure::after {
    content: url(../assets/images/staff-deco-01.svg);
}

.staff-item:nth-child(2) figure::after {
    content: url(../assets/images/staff-deco-02.svg);
    top: 16px;
    bottom: initial;
}

.staff-item:nth-child(2) figure::before {
    background: #ff997e;
}

.staff-item:nth-child(3) figure::before {
    background: #fabf3e;
}

.staff-item:nth-child(4) figure::before {
    background: #5bd6e2;
}
.staff-item:nth-child(3) figure::after {
    content: url(../assets/images/staff-deco-04.svg);
}
.staff-item:nth-child(4) figure::after {
    content: url(../assets/images/staff-deco-03.svg);
    top: 16px;
    bottom: initial;
}

.staff-item img.avatar {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.staff-title {
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.staff-name {
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.staff h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.leaflet-container {
    background-color: none;
}

.leaflet-container h2 {
    margin-top: 70px;
    text-align: center;
    font-size: 4.5rem;

    line-height: 1;
    color: #222;
    font-weight: 400;
    margin-bottom: 20px;
}

.latest-news {
    background: #f9ebe5;
    margin-top: 70px;
    padding-top: 35px;
    padding-bottom: 70px;
}

.latest-news header {
    width: 82%;
}

.latest-news header > div {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 30px;
    margin-bottom: 14px;
}

.latest-news header > div h3 {
    font-size: 3rem;
    font-weight: 500;
}

.latest-news header > div span {
    cursor: pointer;
    font-size: 1.5rem;
}

.latest-news header p > span {
    color: #f56400;
    cursor: pointer;
}

.latest-news header p {
    font-size: 1.4rem;
    margin-bottom: 26px;
    color: #222;
}

.latest-news .news-list {
    display: flex;
    gap: 40px;
}

.news-list .news-item {
    width: 383px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.news-list .news-item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.news-list .news-item div {
    padding: 35px 35px 50px 35px;
}

.news-list .news-item div > p {
    font-size: 1.6rem;
    color: #222;
    line-height: 24px;
    margin-bottom: 15px;

    &:hover {
        text-decoration: underline;
    }
}

.news-list .news-item div p.date {
    font-size: 1.4rem;
    color: #595959;

    &:hover {
        text-decoration: none;
    }
}

.commitment {
    margin-top: 60px;
}

.commitment .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commitment .container .header {
    width: 50%;
}

.commitment .container .video {
    width: 50%;
    clip-path: inset(1px 1px);
}

.commitment .container .header h3 {
    font-size: 4rem;
    margin-bottom: 0.5em;
    line-height: 1.3;
    color: #222;
    font-weight: 400;
}

.commitment .container .header p {
    color: #222;
    font-size: 1.6rem;
    padding-top: 10px;
}

.commitment .purchase-protection {
    display: flex;
    margin: 30px 15%;
    gap: 20px;
    background-color: #d7e6f5;
    border-radius: 8px;
    padding: 8px 8px;
}

.commitment .purchase-protection img {
    width: 46px;
    height: 41px;
    object-fit: cover;
}

.commitment .purchase-protection .content p {
    font-size: 1.3rem;
    line-height: 18px;
}

.commitment .purchase-protection .content p a {
    text-decoration: underline;
    color: #222;
}

.additional {
    margin-top: 50px;
}

.additional .container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.additional .container .content {
    width: 45%;
}

.additional .container .video {
    width: 50%;
}

.additional .container .video video {
    width: 100%;
    height: 460px;

    clip-path: inset(1px 1px);
}

.additional .content h3 {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 18px;
    color: #222;
}

.additional .content p {
    color: #222;
}

.additional .content button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #111;
    border-radius: 60px;
    cursor: pointer;
}

.additional .content div > span {
    font-size: 1.1rem;
    color: #222;
    font-weight: 600;
}

.additional .content div > p {
    font-size: 1.1rem;
    margin-top: 6px;
}
