.wrapper {
    overflow: hidden;
    margin-top: 100px;
}

.container-carousel {
    width: 1215px;
    overflow: hidden;
    z-index: 9;
}

.item-class {
    max-width: 280px;
    margin-right: 24px;
}

.main-title {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.75;
    margin-bottom: 16px;

    text-align: center;

    color: #10375c;
}
