.wrapper {
    width: 100%;

    margin-top: 79px;
    padding-top: 50px;
}

.body {
    height: 100%;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.row,
.row-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-desc {
    margin-top: 23px;
}

.name-logo {
    color: #101010;
}

.desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1, 25;

    text-align: right;

    color: #7d8589;
}
.images {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.images img {
    width: 204px;
    height: 91px;
    padding: 32px 41px 22px 42px;

    &:hover {
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
}
@media (max-width: 1020px) {
    .images img {
        width: 180px;
    }
}

@media (max-width: 920px) {
    .images img {
        flex-shrink: 0;
        margin-bottom: 10px;
    }

    .images {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .wrapper {
        margin-top: 35px;
        padding-top: 10px;
        margin-bottom: -150px;
    }

    h1.name-logo {
        font-size: 2rem;
    }

    .star img {
        width: 13px;
    }

    .desc {
        font-size: 1.3rem;
    }
}
